@model List<ASP.NETCoreDependencyInjection.Models.Northwind.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product List</h1>

@foreach (ASP.NETCoreDependencyInjection.Models.Northwind.Product p in Model)
{
    <h2>@p.ProductName</h2>
}


